:host {
  font-family: system-ui, sans-serif;
  display: block;
}
header {
  align-items: center;
  border-bottom: 1px solid #ddd;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 1rem max(1rem, calc((100% - 880px) / 2));
}
nav {
  display: flex;
  gap: 1rem;
}
